
Source/AdeptusMechanicusMain/.vs/
*.ide
Source/AdeptusMechanicusMain/.vs/
*.ide
1.1/Source/AdeptusMechanicusMain/.vs/AdeptusMechanicusMain1.1/v15/Server/sqlite3/storage.ide
1.1/Source/AdeptusMechanicusMain/.vs/AdeptusMechanicusMain1.1/v15/.suo
1.1/Source/AdeptusMechanicusMain/.vs/AdeptusMechanicusMain1.1/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.ide
1.1/Source/AdeptusMechanicusMain/.vs/AdeptusMechanicusMain1.1/v15/.suo
*.pdb
1.1/Source/AdeptusMechanicusMain/.vs/AdeptusMechanicusMain1.1/v15/Server/sqlite3/storage.ide
1.1/Source/AdeptusMechanicusMain/.vs/AdeptusMechanicusMain1.1/v15/.suo
1.1/Assemblies/AdeptusMechanicusMain.pdb
